.item {
  width: 350px;
  padding: 0 1rem;
  margin: 1rem 0;
}

.image {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  object-fit: cover;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 2rem;
  color: #2c292b;
}

.content h3 {
  font-size: 2rem;
  font-family: "Boogaloo", cursive;
  margin: 0;
  margin-top: 0px;
  /* margin-bottom: 10px; */
}

.tripName {
  font-size: 2em;
  color: #3b4954;
  font-family: "Boogaloo", cursive;
  /* text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #ee9821;
  text-decoration-thickness: 5px;
  text-underline-offset: 0.5rem;
  margin-bottom: 20px; */
}

.content p {
  font-size: 1rem;
}
.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

/* .actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
} */

a:link {
  text-decoration: none;
  /* color: darkgray; */
}

a:visited {
  text-decoration: none;
  /* color: darkgray; */
}

a:hover {
  text-decoration: none;

  /* color: #47a1ad; */
}

a:active {
  text-decoration: none;
}
