* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* //Also use webfonts: https://www.fontsquirrel.com/ */

html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #3b4954;
  background-color: #fcfbf4;

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Carter+One&family=Poppins&display=swap");

:root {
  --primary: #e65f5c;
  --secondary: #3b4954;
  --error: #ff4a4a;
}

.map-container {
  /* position: fixed;  */
  height: 500px;
  margin: auto; 
  top: 0; 
  bottom: 0; 
  width: 70%; 
  /* border: 2px solid black; */
  }

  .mini-map-container {
  height: 250px;
  width: 250px;
  /* margin: 0px 10px 10px auto; */
  margin: 2px; 
  border: 2px solid black;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  /* font-family: monospace; */
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.thumbnail {
  width: 200px;
}
