<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />
  <title>t r a p s t e r</title>
  <style>
    body { margin: 0; padding: 0; }
    /* #map { position: absolute; top: 0; bottom: 0; width: 90%; border: 3px solid yellow } */
    #map { position: fixed; margin: 5%; top: 0; bottom: 0; width: 90%; border: 3px solid black }
    </style>
</head>
<body>

<div id="map"></div>


<script>



// const cities = [
//   {
//     city: "Seattle",
//     latitude: 47.6062095,
//     longitude: -122.3320708,
//     state: "Washington",
//   },
//   {
//     city: "Portland",
//     latitude: 45.5230622,
//     longitude: -122.6764816,
//     state: "Oregon",
//   },
//   {
//     city: "Sacramento",
//     latitude: 38.5815719,
//     longitude: -121.4943996,
//     state: "California",
//   },
//   {
//     city: "Long Beach",
//     latitude: 33.7700504,
//     longitude: -118.1937395,
//     state: "California",
//   }
// ]



mapboxgl.accessToken = "pk.eyJ1Ijoic2VycmFib3RlbiIsImEiOiJjbDV2a3o4MmowYXlqM2JwOTF2MTA4bTZiIn0._y7PWkNeUaMrtWWsueQ-zw";

const map = new mapboxgl.Map({
  container: 'map', // container ID
  style: 'mapbox://styles/mapbox/dark-v10', // style URL
  // center: [-112.83961213865383, 45.89449004333464], // starting position [lng, lat]
  center: [-122.3320708, 45.5230622], // starting position [lng, lat]
  zoom: 5, // starting zoom
  });


const portland = new mapboxgl.Marker()
.setLngLat([-122.6764816, 45.5230622])
.addTo(map);

const seattle = new mapboxgl.Marker()
.setLngLat([-122.3320708, 47.6062095])
.addTo(map);



 
  // map.on('style.load', () => {
  //   map.setFog({}); // Set the default atmosphere style
  // });
</script>

</body>
</html>

