/* image grid styles */
.imggrid {
  margin: 0px 5px;
  display: grid;
  /* height: 100%; */
  /* overflow: scroll; */
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-gap: 40px; */
  grid-gap: 0px;
  /* border: 2px solid yellow; */
  /* position: absolute; */
  /* position: relative; */
  /* position: fixed; */
  /* overflow: hidden; */
  /* margin-bottom: 0px; */
}

.imgwrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  margin: 5px;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.imgwrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}
