.react-responsive-modal-modal {
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 50px;
  /* text-align: center; */
  /* border: 2px solid pink; */
}

.imageLabel input {
  height: 0;
  width: 0;
  opacity: 0;
}

.imageLabel {
  font-size: 22px;
  cursor: pointer;
  background-color: #a9a5a7;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #a9a5a7;
  border-radius: 4px;
  font-weight: bold;
}

.imageLabel:hover {
  background-color: #e65f5c;
  border-color: #e65f5c;
  transition: all 0.2s ease-in-out;
}

/* .actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #a9a5a7;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #a9a5a7;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #fcb8d2;
  border-color: #fcb8d2;
} */

.output {
  height: 60px;
  font-size: 0.8rem;
}

.error {
  color: var(--error);
}

.btnSubmit {
  margin: 10px 2px;
  background: var(--primary);
  border: var(--primary);
  font-size: 22px;
  /* font: inherit; */
  cursor: pointer;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #a9a5a7;
  border-radius: 4px;
  font-weight: bold;
  outline: none;
}

.imgpreview {
  /* display: block; */
  /* max-width: 500px; */
  /* max-height: 50%; */
  max-height: 420px;
  margin: 0;
}

.everythingContainer {
  display: flex;
  /* border: 2px solid blue; */
  /* flex-direction: column; */
}

.previewContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 20px;
  /* justify-content: space-between; */
}

.submitButton {
  font-size: 22px;
  cursor: pointer;
  background-color: #a9a5a7;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #a9a5a7;
  border-radius: 13px;
  font-weight: bold;
  width: 128px;
  margin: 15px auto;
}

.submitButton:hover {
  background-color: #e65f5c;
  border-color: #e65f5c;
  transition: all 0.2s ease-in-out;
}
