form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto 10px;
  text-align: center;
}

.imageLabel input {
  height: 0;
  width: 0;
  opacity: 0;
}

.imageLabel {
  display: flex;
  align-items: center;
  justify-content: center ;
  margin: 50px;
  width: 250px;
  height: 50px;
  border: 1px solid var(--primary);
  /* margin: 10px auto; */
  line-height: 30px;
  background: var(--primary);
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.imageLabel:hover {
  /* background: var(--primary); */
  background-color: #ba7b93;
}

.output {
  height: 60px;
  font-size: 0.8rem;
}

.error {
  color: var(--error);
}

.imgpreview {
  max-width: 40%;
  margin: 10px;
}

.btnSubmit {
  margin: 2px;
  background: var(--primary);
  border: var(--primary); 
}

.newImageContainer {
  display: flex;
  flex-direction: column;
}