.tripPageContainer {
  /* width: 100%; */
  max-width: 1320px;
  justify-content: center;
  margin: auto;
}

.tripHeader {
  color: #24305E;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 0;
}

.tripName {
  font-size: 2em;
}