.card {
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

/* .grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); } */
